.OpenMain {
  position: absolute;
  left: -300px;
  top: -30px;
  width: 2000px;
  height: 1000px;
  background-color: black;
}
a {
  color: ivory;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 80px;
  text-decoration: wavy;
}
button {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 300px;
  height: 100px;
  color: black;
  background-color: blanchedalmond;
}
